$bgColorHeader: #eff0f2;
$bgColorAboutUs: #f8fafa;
$bgColorTeamFooter: #f9fbfb;
$bgColorFooterBottom: #262b2e;
$fontFamiliesTitlesButtons: Montserrat;
$fontFamiliesUnderTitles: Merriweather;
$fontFamiliesText: Raleway;
$borderLogo: #170f1c;
$blackColor: #000000;
$whiteColor: #ffffff;
$logoOColor: #77efe5;
$bckgHeaderTextColor: rgba(118, 244, 234, 0.5);
$modalBckgColor: rgb(68, 65, 65);
$headerTextShadowColor: rgba(21, 21, 22, 0.75);
$headerButtonBorder: rgba(0, 0, 0, 0.5);
$btnBckgHoverColor: rgba(118, 244, 234, 1);
$shadowTeamAboutBox: rgba(20, 20, 21, 0.18);
$bckgTeamAboutBox: #6df6eb;
$teamPersonNameColor: #272727;
$teamPersonProfessionColor: #767070;
$footerSocialBckg: rgba(141, 141, 141, 0.34);
$footerSocialBckgHover: rgba(226, 226, 226, 0.34);
$footerSocialBckgActive: #71f6eb;
$footerSocialBckgActiveHover: #65ccc3;
$footerFormButtonBckg: rgb(110, 238, 228);
$footerFormButtonBckgHover: rgb(96, 192, 184);
$footerFormButtonBckgHoverText: #f9fbfb;
$footerFormInputBorder: rgba(255, 255, 255, 0.4);
$footerFormInputBorderFocus: rgba(255, 255, 255, 0.6);
%headerTitle {
	text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
	color: #505050;
	font-family: $fontFamiliesTitlesButtons;
	font-size: 45px;
	font-weight: 700;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: 2.7px;
	text-align: center;
}
%blocksTitles {
	opacity: 0.9;
	color: $blackColor;
	font-family: $fontFamiliesTitlesButtons;
	font-size: 38px;
	font-weight: 700;
	line-height: 28px;
	text-transform: uppercase;
	letter-spacing: 2.28px;
}
%textUnderBocksTitles {
	opacity: 0.62;
	color: $blackColor;
	font-family: $fontFamiliesUnderTitles;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	text-transform: uppercase;
	letter-spacing: 1.08px;
	margin-top: 10px;
	text-align: center;
}
@mixin buttonsText($op) {
	opacity: $op;
	color: $blackColor;
	font-family: $fontFamiliesTitlesButtons;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	text-transform: uppercase;
	/* Text style for "CONTACT US" */
	letter-spacing: 1.8px;
}

.header {
	width: 100%;
	min-width: 500px;
	background-color: $bgColorHeader;
	padding-bottom: 200px;
	opacity: 0.99;
	padding-top: 65px;
	&__logo-container {
		width: 90%;
		margin: 0 auto;
	}
	&__rectangle-logo {
		width: 113px;
		height: 46px;
		border: 6px solid $borderLogo;
		display: flex;
		justify-content: center;
		&:hover {
			text-decoration: none;
		}
	}
	&__text-logo {
		width: 85px;
		height: 16px;
		text-shadow: 0 0 2px $headerTextShadowColor;
		color: $blackColor;
		font-family: $fontFamiliesTitlesButtons;
		font-size: 17px;
		line-height: 28px;
		text-transform: uppercase;
		letter-spacing: 1.02px;
		margin-top: 4px;
		.text-logo__o {
			color: $logoOColor;
			font-size: 21px;
			letter-spacing: 1.26px;
		}
	}
	&__contact-us {
		width: 80%;
		margin: 206px auto 0 auto;
	}
	&__firstRow {
		@extend %headerTitle;
		margin-bottom: 10px;
	}
	&__secondRow {
		@extend %headerTitle;
	}
	&__shopno {
		padding: 0 8px;
		margin-left: -11px;
		height: 54px;
		background-color: $bckgHeaderTextColor;
	}
	&__agency {
		padding: 0 8px;
		margin-right: -11px;
		width: 236px;
		height: 54px;
		background-color: $bckgHeaderTextColor;
	}
	&__button-container {
		margin-top: 150px;
		display: flex;
		justify-content: center;
	}
	&__button {
		width: 232px;
		height: 53px;
		border-radius: 2px;
		border: 2px solid $headerButtonBorder;
		@include buttonsText(0.75);
		transition: 0.4s;
	}
	&__button:hover {
		background-color: $btnBckgHoverColor;
		color: $whiteColor;
		transition: 0.4s;
	}

	&__img-container {
		float: right;
		margin-top: -20px;
	}
	& img {
		width: 82px;
		height: 92px;
		background-color: $bgColorHeader;
	}
}
.about-us {
	background-color: $bgColorAboutUs;
	padding-top: 100px;
	padding-bottom: 150px;
	height: auto;
	&__title-container {
		text-align: center;
		margin: 0 auto;
	}
	&__title {
		@extend %blocksTitles;
	}
	&__under-title {
		@extend %textUnderBocksTitles;
	}
	&__content-container {
		width: 75%;
		max-width: 1139px;
		margin: 140px auto 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@media screen and (max-width: 1069px) {
			justify-content: center;
		}
	}
	&__image {
		width: 392px;
		height: 483px;
		padding-right: 10px;
	}
	&__text-container {
		width: 50%;
		margin-top: 10px;
		@media screen and (max-width: 1069px) {
			width: 392px;
		}
	}
	&__content-title-first {
		opacity: 0.75;
		color: $blackColor;
		font-family: $fontFamiliesUnderTitles;
		font-size: 20px;
		font-weight: bold;
		line-height: 28px;
		text-transform: uppercase;

		letter-spacing: 1.2px;
	}
	&__content-title-second {
		opacity: 0.75;
		color: $blackColor;
		font-family: $fontFamiliesUnderTitles;
		font-size: 17px;
		font-weight: 700;
		line-height: 28px;
		text-transform: uppercase;

		letter-spacing: 1.02px;
		margin-top: 38px;
	}
	&__content-text-first {
		opacity: 0.74;
		color: $blackColor;
		font-family: $fontFamiliesText;
		font-size: 16px;
		font-weight: 400;
		line-height: 28px;

		letter-spacing: 0.8px;
		margin-top: 31px;
	}
	&__content-text-second {
		height: 72px;
		opacity: 0.74;
		color: $blackColor;
		font-family: $fontFamiliesText;
		font-size: 16px;
		font-weight: 400;
		line-height: 28px;

		letter-spacing: 0.8px;
		margin-top: 27px;
	}
}
.works {
	padding-top: 150px;
	padding-bottom: 100px;
	display: flex;
	flex-wrap: wrap;

	justify-content: center;
	align-items: center;
	flex-direction: column;

	&__title-container {
		margin: 0 auto;
		text-align: center;
	}
	&__title {
		@extend %blocksTitles;
	}
	&__under-title {
		@extend %textUnderBocksTitles;
	}
	&__images {
		width: 100%;
		max-width: 1139px;
		margin-top: 127px;
		margin-bottom: 125px;
	}
	&__row {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@media screen and (max-width: 1145px) {
			justify-content: center;
		}

		button {
			padding: 0;
			margin: 0;
			background-color: $whiteColor;
			outline: none;
			border: none;
			&:focus {
				outline: none;
			}
		}
	}
	&__banner {
		width: 370px;
		height: 359px;
		margin-top: 13px;
		@media screen and (max-width: 1145px) {
			margin-right: 13px;
		}
	}
	&__pop-up {
		position: absolute;
		width: 1139px;
		height: 731px;
		top: 0px;
		left: 0px;
		display: none;
	}
}
.modal-content {
	.modal-body {
		background-color: $modalBckgColor;
		border: none;
		padding: 0 !important;
		img {
			width: 100%;
			height: 620px;
		}
		.carousel-item.active {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
.team {
	width: 100%;
	background-color: $bgColorTeamFooter;
	padding-top: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&__title-container {
		margin: 0 auto;
		text-align: center;
		margin-bottom: 125px;
	}
	&__title {
		@extend %blocksTitles;
	}
	&__under-title {
		@extend %textUnderBocksTitles;
	}
	&__images {
		width: 95%;
		max-width: 1138px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	&__row {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@media screen and (max-width: 1200px) {
			justify-content: center;
		}
	}
	&__person {
		width: 370px;
		height: 440px;
		margin-top: 13px;
		@media screen and (max-width: 1200px) {
			margin-right: 13px;
		}
		&:hover {
			.team__letter {
				top: 140px;
				left: 18px;
				opacity: 1;
				display: block;
			}
		}
	}
	&__letter {
		width: 335px;
		height: 260px;
		position: relative;
		top: 140px;
		left: 18px;
		transition: opacity 0.45s ease-out;
		opacity: 0;
	}
	&__triangle {
		width: 42px;
		height: 37px;
		opacity: 0.97;
		margin-bottom: -20px;
		border: 22px solid transparent;
		border-bottom: 33px solid $bckgTeamAboutBox;
	}
	&__rectangle {
		width: 335px;
		height: 241px;
		box-shadow: 3px 6px 16px $shadowTeamAboutBox;
		background-color: $bckgTeamAboutBox;
		opacity: 0.98;
		padding-top: 43px;
		.rectangle-title {
			width: 243px;
			height: 19px;
			font-size: 15px;
			line-height: 24px;
			color: $teamPersonNameColor;
			font-family: $fontFamiliesUnderTitles;
			font-size: 20px;
			font-weight: bold;
			letter-spacing: 1px;
			margin-left: 38px;
			.title-ui {
				width: 243px;
				height: 19px;
				opacity: 0.95;
				color: $teamPersonProfessionColor;
				font-family: $fontFamiliesUnderTitles;
				font-size: 15px;
				font-weight: 400;
				line-height: 24px;
				font-family: $fontFamiliesUnderTitles;
				font-weight: 400;
				letter-spacing: 0.45px;
			}
		}
		.rectangle-text {
			/* Style for "Lorem Ipsu" */
			width: 239px;
			height: 64px;
			opacity: 0.8;
			color: $blackColor;
			font-family: $fontFamiliesText;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			/* Text style for "Lorem Ipsu" */
			letter-spacing: 0.16px;
			margin-top: 23px;
			margin-left: 38px;
		}
		.rectangle-icons {
			width: 88px;
			height: 13px;
			display: flex;
			justify-content: space-between;
			margin-top: 37px;
			margin-left: 39px;
		}
		.fa {
			/* Style for "" */
			width: 15px;
			height: 11px;
			opacity: 0.7;
			color: $blackColor;
			font-size: 13px;
			font-weight: 400;
			line-height: 21.57px;
			/* Text style for "" */
			letter-spacing: 0.15px;
			transition: 0.5s;
		}
		.fa:hover {
			cursor: pointer;
			color: $teamPersonProfessionColor;
			transition: 0.5s;
		}
	}
}
.footer {
	background-color: $bgColorTeamFooter;
	position: relative;

	&__top {
		overflow: hidden;
		display: flex;
		justify-content: center;
	}
	&__contact-container {
		width: 88%;
		max-width: 1140px;
		top: 308px;
		position: absolute;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@media screen and (max-width: 759.5px) {
			top: 100px;
			justify-content: center;
		}
	}
	&__location {
		width: 40%;
		min-width: 300px;
		background-color: rgba(2, 22, 35, 0.71);
		padding-top: 31px;
		@media screen and (max-width: 759.5px) {
			min-width: 400px;
			padding-top: 10px;
			margin-top: 5px;
		}
	}
	&__addres {
		width: 213px;
		height: 159px;
		opacity: 0.6;
		color: $whiteColor;
		font-family: $fontFamiliesText;
		font-size: 15px;
		font-weight: 400;
		line-height: 24px;
		margin-left: 30px;
		a {
			display: inline-block;
			opacity: 1;
			color: $whiteColor;
			font-family: $fontFamiliesText;
			font-weight: 400;
			&:hover {
				text-decoration: none;
				color: #ddd7d7;
			}
		}
	}
	&__map {
		width: 90%;
		height: 224px;
		background-color: grey;
		margin-top: 30px;
		margin-left: 22px;
		margin-bottom: 10px;
	}
	&__form {
		width: 54%;
		min-width: 300px;
		height: 460px;
		background-color: rgba(2, 22, 35);
		opacity: 0.71;
		padding-left: 31px;
		padding-top: 18px;
		@media screen and (max-width: 759.5px) {
			min-width: 400px;
			height: 415px;
		}
		input {
			height: 35px;
			padding: 8px 9px 17px 4px;
			margin-top: 20px;
		}
		textarea {
			min-height: 87px;
			padding: 0px 9px 17px 4px;
			margin-top: 10px;
		}
		input,
		textarea {
			width: 90%;
			background-color: inherit;
			border: none;
			border-radius: 0px;
			outline: 0;
			border-bottom: 1px solid $footerFormInputBorder;
			opacity: 1;
			color: $whiteColor;
			font-family: $fontFamiliesText;
			font-size: 15px;
			font-weight: 400;
			line-height: 51px;
		}
		input:focus,
		textarea:focus {
			color: $whiteColor;
			background-color: inherit;
			border-bottom: 1px solid $footerFormInputBorderFocus;
			outline: none;
		}
		button {
			width: 244px;
			height: 53px;
			border-radius: 2px;
			background-color: $footerFormButtonBckg;
			margin-top: 38px;
			@include buttonsText(1);
		}
		button:hover {
			background-color: $footerFormButtonBckgHover;
			color: $footerFormButtonBckgHoverText;
		}
	}
	&__bottom {
		width: 100%;
		height: 316px;
		background-color: $bgColorFooterBottom;
	}
	&__social {
		width: 205px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 87px;
	}
	&__title {
		height: 12px;
		opacity: 0.8;
		color: $whiteColor;
		font-family: $fontFamiliesText;
		font-size: 16px;
		font-weight: 400;
		line-height: 25px;
		text-transform: uppercase;
		letter-spacing: 0.16px;
	}
	&__icons {
		width: 205px;
		height: 41px;
		margin-top: 25px;
		display: flex;
		justify-content: space-between;
	}
	&__fa-container.active {
		background-color: $footerSocialBckgActive;
		.active {
			opacity: 0.95;
			color: $blackColor;
			font-size: 24px;
			font-weight: 400;
		}
	}
	&__fa-container.active:hover {
		background-color: $footerSocialBckgActiveHover;
	}
	&__fa-container {
		width: 46px;
		height: 40px;
		background-color: $footerSocialBckg;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.5s;
		.fa {
			color: #faf4f4;
			opacity: 0.6;
			font-size: 24px;
			font-weight: 400;
		}
	}
	&__fa-container:hover {
		background-color: $footerSocialBckgHover;
		cursor: pointer;
		transition: 0.5s;
	}
}
